<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet v3 feed" value="https://api.nuget.org/v3/index.json" />
    <add key="Automation.Functions.Abstractions" value="https://www.myget.org/F/automation-function-abstraction/api/v3/index.json" />
  </packageSources>
</configuration>